.my-navbar{
    height:60px;
    width: 100%;
    background-color:rgb(255, 255, 255) ;
    box-shadow: 0 2px 10px rgb(0 0 0 / 25%);
}

.source-tree-blue-icon-style{
    height: 35px;
    margin-left: 7%;
    margin-top: 16px;
    padding-bottom: 5px;
}

.downlod-btn{
    height: 30px;
    width: 137px;
    border:1px solid #0047B3;
    background-color: #0047B3;
    float: right;
    margin-right: 8%;
    margin-top: 16px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
}
.big-white-box{
    height: 90vh;
    background-color: #e4e6eb;
}
.container-fluid{
    margin-top:10px;
   
}
.text-box{
    padding-left: 80px;
    /* padding-top:20px; */
}
.first-col{
    font-size: 35px;
    
    color: rgb(54, 52, 52);
    
    font-family: arial;
    
   
    
}
.heading{
    font-weight: 600;
}
.btn-1{
    height: 37px;
    width: 220px;
    border:1px solid #0047B3;
    background-color: #0047B3;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    color: white;
    text-align: center;
    margin-top: 18px;
    padding-top: 5px;
}
.small-text-1{
    font-size: 15px;
    margin-top: 18px;
}  
.pic-style{
    width: 100%;
    padding-top: 123px;
    padding-right: 40px;
    padding-bottom: none;
}
.text-box{
    margin-top: -30px;
}

.free-gift-heading{
    font-size: 35px;
    font-family: arial;
    font-weight: 600;
    color: #253858;
    
}
.line-1{
    width: 11%;
    height: 3px;
background-color: #e68910;
    margin-top: 38px;
}
.heading-1{
    font-size: 25px;
    font-family: arial;
    font-weight: 600;
    padding-top: 20px;
    color: #253858;
}
.small-text-style{
    color: #4b4e52;
    font-size: 18px;
}
.pic-2-style{
    margin-left: -15px;
}
.small-text-2{
    color: #3d3f41;
}



.third-big-blue-box{
    /* height: 130vh; */
    background-color:#0052CC;
}
.commit-with-confidence-heading{
    font-size: 35px;
    font-family: arial;
    font-weight: 600;
    color: #f0f2f5;
}
.third-box-small-text-style{
    font-size: 20px;
    font-family: arial;
    font-weight: 500;
    color: #f0f2f5;
}
.commit-with-confidence-pic{
    width: 60%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 52px;
   object-fit: cover;
}
.img-5{
    width:100%;
}
.fully-featured-client-heading{
    font-size: 35px;
    font-family: arial;
    font-weight: 600;
    color:#253858;
}
.software-check-pic-style{
    width: 110px;
}
.software-all-35-pic-style{
    width: 110px;
}
.software-all-06-pic-style{
    width: 110px;
}
.software-all-41-pic-style{
    width: 110px;
}
.software-heading{
    font-size: 20px;
    color:#253858;
    font-weight: 600;
    padding-top: 10px;

}
.software-small-text{
    font-size: 15px;
    color:#253858;
    font-weight: 600;
    padding-top: 15px;
}

.row-container{
    margin-left:6%;
    margin-right:6%;
    margin-top: 25px;
}
.Git-at-your-fingertips-heading{
    font-size: 35px;
    font-family: arial;
    font-weight: 600;
    color:#253858;
}
.Git-at-your-fingertips-small-text{
    font-size: 17px;
    font-family: arial;
    font-weight: 500;
    color:#46484b;
}
.fifth-box-pic-style{
    width: 5%;

}
.fifth-box-icons-heading{
    font-size: 18px;
    font-family: arial;
    font-weight: 600;
    color:#253858;
}
.fifth-box-small-text{
    font-size: 15px;
    font-family: arial;
    font-weight: 500;
    color:#253858;
    padding-top: 18px;
    padding-left: 25px;
}
.fingertips-row-container{
    margin-left:6%;
    margin-right:6%;
    margin-top: 25px;
}
.sixth-box-pic-style{
    width: 15%;
    padding-top: 39px;
}
.sixth-box-icons-heading{
    font-size: 24px;
    font-family: arial;
    font-weight: 600;
    color:#253858;
    
}
.sixth-box-small-text{
    font-size: 15px;
    font-family: arial;
    font-weight: 500;
    color:#253858;
    /* padding-top: 5px; */
    padding-left: 110px;
    margin-top: -35px;
}
.sixth-box-btn-1{
    height: 26px;
    width: 100px;
    border:1px solid #0047B3;
    background-color: #f3f4f7;
    color: #3b6eb9;
    margin-left: 112px;
    text-align: center;
    font-size: 15px;
    font-family: arial;
    font-weight: 600;
    padding-top: 2px;
    margin-top: 23px;
    border-radius: 3px;
}
.sixth-box-btn-2{
    height: 26px;
    width: 110px;
    border:1px solid #0047B3;
    background-color: #f3f4f7;
    color: #3b6eb9;
    margin-left: 112px;
    text-align: center;
    font-size: 15px;
    font-family: arial;
    font-weight: 600;
    padding-top: 2px;
    margin-top: 20px;
    border-radius: 3px;
}
.sixth-row-container{
    margin-left:6%;
    margin-right:6%;
    margin-top: 25px;
   margin-bottom: 43px;
}
.sixth-big-box{
background-color: #e6e9ec;
padding-bottom:5%;
}
.seventh-big-blue-box{
    /* height: 130vh; */
    background-color:#403294;
}
.seventh-big-box-heading{
    font-size: 35px;
    font-family: arial;
    font-weight: 600;
    color: #f0f2f5;
    padding-top: 43px;
}
.seventh-box-small-text-style{
    font-size: 20px;
    font-family: arial;
    font-weight: 500;
    color: #f0f2f5;
    padding-top: 25px;
}
.seventh-big-box-pic{
    width: 60%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 52px;
   object-fit: cover;
}
.seventh-big-box-pic-style{
    width:100%;
}
.learn-box{
    color:#f0f2f5;
}
.eight-big-box-cover-pic{
    background-image: url("./assets/background_images/WhatsApp\ Image\ 2023-02-16\ at\ 14.43.42.jpeg");
    background-size: cover;
    height: 70vh;
   
}
.eight-big-box-cover-pic-heading{
    font-size: 19px;
    font-family: arial;
    font-weight: 600;
    color:#fcfafa;
    padding-top: 11%;
    padding-left: 6%;
}
.eight-big-box-cover-pic-small-text{
    font-size: 13px;
    font-family: arial;
    font-weight: 600;
    color:#fbfcfc;
    padding-top: 3%;
    padding-left: 6%;
}
.eight-big-box-logo{
    width: 19%;
    /* padding-left: 6%; */
}
.eight-big-box-logo{
    margin-left: 5%;
    margin-top: 1%;
}










.eight-box-pic-style{
    width: 18%;
    padding-top: 39px;
}
.eight-box-icons-heading{
    font-size: 22px;
    font-family: arial;
    font-weight: 600;
    color:#253858;
    
}
.eight-box-small-text{
    font-size: 15px;
    font-family: arial;
    font-weight: 500;
    color:#253858;
    /* padding-top: 5px; */
    padding-left: 110px;
    margin-top: -35px;
}
.eight-row-container{
    margin-left:6%;
    margin-right:6%;
    margin-top: -1%;
   margin-bottom: 4%;
}
.eight-big-box{
background-color: white;
}
.nineth-big-box-heading{
    font-size: 35px;
    font-family: arial;
    font-weight: 600;
    color: #253858;
    padding-top: 2%;
    
}
.nineth-box-btn{
    height: 37px;
    width: 220px;
    border:1px solid #0047B3;
    background-color: #0047B3;
    font-size: 18px;
    font-weight: 500;
    border-radius: 3px;
    color: white;
    text-align: center;
    margin-top: 18px;
    padding-top: 5px;
}
.nineth-box-small-text{

font-size: 14px;
margin-top: 20px;

}
.nineth-box-col-head{
    font-size: 20px;
    font-family: arial;
    font-weight: 600;
    color:#253858;
}
.nineth-box-col-small-text{
    font-size: 14px;
margin-top: 20px;
color:#253858;
}
.nineth-box-col-small-signup-text{
    font-size: 16px;
margin-top: 22px;
color:#5a5b5e;
font-weight: 600;
}
.nineth-email-box{
    margin-top: 20px;
    
}
.nineth-email-box-style{
    height: 39px;
    width: 66%;
    font-size: 14px;
    font-weight: 500;
    padding-left: 8px;
    border: 1px solid rgb(170, 163, 163);
}
.subscribe-btn{
    height: 40px;
    width: 115px;
    border:1px solid #0047B3;
    background-color: #f3f4f7;
    color: #3b6eb9;
    margin-left: 390px;
    text-align: center;
    font-size: 15.5px;
    font-family: arial;
    font-weight: 600;
    padding-top: 6px;
    margin-top: -40px;
    border-radius: 3px;
}
.nineth-box-connect-with-text{
    font-size: 15px;
margin-top: 20px;
color:#737577;
font-family: arial;
    font-weight: 600;
    padding-left: 50px;
}
.nineth-box-row-container{
    margin-left:6%;
    margin-right:6%;
   padding-bottom: 43px;
}
.fb-logo{
    margin-top: -40px;
    float: right;
    margin-right: 17%;
}
.fb-logo-style{
    height: 37px;
}
.twitter-logo-style{
    height: 40px;
}
.twitter-logo{
    margin-top: -40px;
    float: right;
    margin-right: 8%;
}
.end-part-text{
    font-size: 14px;
    color:#575858;
    font-weight: 600;
    /* padding-left: 10px; */
}
.end-part-row-container{
    padding-bottom: 43px;
    margin-left:6%;
    margin-right:6%;
    margin-top: -20px;
}
.end-part-text-copy-right{
    font-size: 16px;
    color:#535557;
    font-weight: 600;
    padding-top: -7px;
    padding-left: 10px;
}
.view-all-text{
    font-size: 15px;
    color:#535557;
    font-weight: 600;
    margin-left: 100px;
    margin-top: -25px;
    padding-bottom: 43px;
    /* padding-top: -7px; */
}
.end-part-pic-style{
    width: 75%;
    padding-left: 10px;
}
.nineth-big-blue-box{
    background-color: #F4F5F7;
}
.end-part{
    background-color: #F4F5F7;
}